:root {
	/* ------- colors ------- */
	--primary-color: #141415;
	--secondary-color: #1f1f22;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}

.hmlink:visited, .hmlink:link {
	color: var(--link-color) !important;
	text-decoration: none !important;
}